<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Apartamento</title>
</head>
<body>
   <h1>Detalles del Apartamento</h1>
   <img src="<%= apartment.mainPhoto%>" alt="">
   <p>Nombre: <%= apartment.title %> </p>
   <p>Precio: <%= apartment.price %> </p>
   <p>Metros cuadrados: <%= apartment.size %> </p>
   <h2>Reservar</h2>
   <form action="/booking/new-reservation" method="POST">
    <input type="hidden" name="idApartment" value="<%= apartment.id %>">
    <label for="checkIn">Fecha Entrada</label>
    <input type="date" id="checkIn" name="checkIn" required>
    <label for="checkOut">Fecha Salida</label>
    <input type="date" id="checkOut" name="checkOut" required>
    <input type="submit" value="Reservar">
   </form>
</body>
</html>